@import "./Variables";

.dashboardContainer {
  .header {
    .spaceHeader {
      vertical-align: top;
    }
    .imageBanner {
      max-width: 280px;
    }
    .iconSettings {
      margin-top: 15px;
      float: right;
      cursor: pointer;
    }
  }
}
.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.ant-page-header-ghost {
  background-color: white;
}

.profileContainer {
  .cardSpaceProfile {
    width: fit-content;
  }
  .numberGraph {
    font-weight: 800;
    font-size: 30px;
  }
  .textGraph {
    font-size: 15px;
    font-weight: 100;
    display: inline-block;
  }
}
