@import "./Variables";

.homePage {
  .header {
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.34);
    display: flex;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    h1.ant-typography {
      margin-bottom: 0px;
    }
    .buttonLogin {
      margin-left: auto;
    }
    .iconImage {
      width: 300px;
    }
    .secondaryText {
      padding-left: 20px;
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .header {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 530px) {
    .header {
      display: block;
      text-align: -webkit-center;
    }
    .iconImage {
      margin-bottom: 10px;
    }
    .ant-card-body {
      padding: 10px;
    }
  }
  .body {
    padding: 40px;
    .imageLanding {
      width: 100%;
      padding-left: 5%;
      max-width: 600px;
      margin-top: 20px;
    }
    .cardHome {
      max-width: 500px;
      .spaceCard {
        margin-left: 10px;
        max-width: 180px;
        height: 200px;
        .iconFeature {
          transition-duration: 500ms;
          margin-top: 20px;
          font-size: 60px;
        }
        .textFeature {
          margin-top: 15px;
          font-size: 12px;
          display: inline-block;
        }
      }
      .spaceCard:hover {
        .iconFeature {
          transition-duration: 500ms;
          margin-top: 0px;
          font-size: 90px;
        }
      }
      @media (max-width: 530px) {
        .spaceCard:hover {
          .iconFeature {
            transition-duration: 500ms;
            margin-top: 20px;
            font-size: 60px;
          }
        }
      }
    }
    .textDescription {
      background-color: $grey;
      border-radius: 10px;
      margin-top: 10px;
      padding: 15px;
    }
  }
}

.registerContainer {
  .formInfo {
    padding-top: 20px;
  }
  .cardSpace {
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
      0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
      0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    max-width: 300px;
    margin-bottom: 20px;
    .avatarImage {
      margin-right: 15px;
    }
  }
  .corporateForm {
    margin-bottom: 20px;
  }
}
